* {
    background-color: lightgray;

}
p {
    padding: 1rem;
    align-items: center;
    font-size: 3vh;
    text-align: center;
    border-radius: 1rem;
    background-color: navajowhite;
    color:chocolate;
}

h1 {
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: lightblue;
    background-color:black;
}