* {
    background-color: #0C0F0A;

}

h1{
    color: #FF206E;
    background-color: #FBFF12;
    text-align: center;
    padding: 1rem;
}
p {
    padding: 1rem;
    font-size: 3vh;
    text-align: center;
    border-radius: 2rem;
    background-color:#41EAD4;
    color: #FFFFFF;
}